@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap');
body {
    font-family: "Vazirmatn", sans-serif !important;
    padding-top: 3rem;
    direction: rtl;
    text-align: right;
}

p {
    margin: 0 !important;
}

.custom-input-group-text {
    border-radius: 0 !important;
    border-top-left-radius: 0.3rem !important;
    border-bottom-left-radius: 0.3rem !important;
}

.custom-input-group-input {
    border-radius: 0 !important;
    border-top-right-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
}

.alert-text {
    position: absolute;
    bottom: 1rem;
    right: .75rem;
    z-index: -1;
    transition: all 0.3s linear;
    &.show {
        bottom: -1.3rem !important;
    }
}

#alert-payValue {
    bottom: 3.3rem;
    &.show {
        bottom: -3.3rem;
    }
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-number[type="number"] {
    -moz-appearance: textfield;
}